@use "../../styles/theme.module" as *;
@use "../../styles/size.module" as *;

.container {
  text-align: left;
  cursor: pointer;
  color: $color-black;
  background-color: $color-white;
  transition-duration: 0.2s;

  @include desktop {
    &:hover {
      color: $color-primary;
    }
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &--selected {
    color: $color-primary;
  }
}
