@use "../../styles/theme.module" as *;
@use "../../styles/size.module" as *;

.container {
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid $color-black;
  padding: pxRem(10);
  color:$color-black;
  background-color: $color-white;
  transition-duration: 0.2s;
  width: pxRem(70);

  @include desktop {
    width: pxRem(100);
    &:hover {
        outline: 2px solid $color-primary;
      }    
  }
 
  &__title{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &--selected{
    outline: 2px solid $color-primary;
    color:$color-primary;
  }

  @include small-tablet {
    width: pxRem(100);
  }

  @include large-tablet {
    width: pxRem(100);
  }

  @include desktop {
    width: pxRem(100);
  }
}
