@use "sass:math";

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

@mixin mobile {
  &.mobile {
    @content;
  }

  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin small-tablet {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin large-tablet {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop {
  &.desktop {
    @content;
  }

  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin large-desktop {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@function pxRem($px: 16) {
  @return math.div($px, 16) + rem;
}
