@use "./size.module" as *;

@font-face {
  font-family: "Roboto";
  src: url("../../static/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.section {
  margin: 0;
  font-family: "Roboto";

  &--bold {
    font-weight: bold;
  }

  &--header {
    font-size: pxRem(24);
    font-weight: bold;

    @include small-tablet {
      font-size: pxRem(30);
    }

    @include large-tablet {
      font-size: pxRem(40);
    }

    @include desktop {
      font-size: pxRem(52);
    }
  }

  &--sub-header {
    font-size: pxRem(22);
    line-height: pxRem(32);
    font-weight: normal;

    @include small-tablet {
      font-size: pxRem(24);
    }

    @include large-tablet {
      font-size: pxRem(28);
    }

    @include desktop {
      font-size: pxRem(34);
      line-height: pxRem(42);
    }
  }
}

.button-title {
  padding:0;
  margin:0;
  font-size: pxRem(16);
  line-height: pxRem(18);
  font-weight: bold;
}

.button-sub-title {
  padding:0;
  margin:0;
  font-size: pxRem(14);
  font-weight: normal;

  @include small-tablet {
    font-size: pxRem(16);
  }

  @include large-tablet {
    font-size: pxRem(17);
  }

  @include desktop {
    font-size: pxRem(18);
  }
}
