@use "../../styles/size.module" as *;
@use "../../styles/theme.module" as *;
@use "../../styles/size.module" as *;

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
  margin-top: pxRem(30);
  background-color: $color-white;

  @include small-tablet {
    margin-top: pxRem(50);
  }

  @include large-tablet {
    margin-top: pxRem(60);
  }

  @include desktop {
    margin-top: pxRem(70);
    padding: 0 pxRem(100);
  }
}

.title {
  text-align: center;
  margin:0;
  padding: 0 pxRem(10);
  color: $color-black;
}

.logo {
  position: absolute;
  top: pxRem(10);
  right: pxRem(10);
  object-fit: cover;
  width: pxRem(22);
  height: pxRem(22);
  border-radius: 50%;

  @include small-tablet {
    width: pxRem(52);
    top: auto;
    height: pxRem(52);
    right: pxRem(10);
  }

  @include large-tablet {
    width: pxRem(62);
    height: pxRem(62);
    right: pxRem(50);
  }

  @include desktop {
    width: pxRem(72);
    height: pxRem(72);
    right: pxRem(50);
  }
}

.region-button-container {
  @extend .container;
  flex-wrap: wrap;
  gap: pxRem(20);
  padding:0 pxRem(30);
}

.country-button-container {
  width: 100%;
  justify-self: center;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: space-around;
  grid-gap: 30px;
  padding:0;
  margin-top: pxRem(50);

  @include desktop {
    width: pxRem(800);
    grid-template-columns: repeat(auto-fill, 130px);
  }
}