@use "../../styles/size.module" as *;
@use "../../styles/theme.module" as *;
@use "../../styles/size.module" as *;

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
  height: pxRem(100);
  background-color: $color-grey;

  @include small-tablet {
    height: pxRem(130);
  }

  @include large-tablet {
    height: pxRem(150);
  }

  @include desktop {
    height: pxRem(150);
  }
}

.logo {
  position: absolute;
  top: pxRem(10);
  right: pxRem(10);
  object-fit: cover;
  width: pxRem(22);
  height: pxRem(22);
  border-radius: 50%;

  @include small-tablet {
    width: pxRem(52);
    top: auto;
    height: pxRem(52);
    right: pxRem(10);
  }

  @include large-tablet {
    width: pxRem(62);
    height: pxRem(62);
    right: pxRem(50);
  }

  @include desktop {
    width: pxRem(72);
    height: pxRem(72);
    right: pxRem(30);
  }

  @include large-desktop {
    width: pxRem(72);
    height: pxRem(72);
    right: pxRem(50);
  }
}

.title {
  padding: 0 pxRem(10);
  color: $color-white;
}
