@use "../../styles/size.module" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  height: auto;
  width: 100%;
  opacity: 0;
  padding: pxRem(72) 0;

  &--disable-top-padding{
    padding-top: 0;
  }

  &--disable-bottom-padding{
    padding-bottom: 0;
  }
  
  &--disable-animation{
    opacity: 1;
  }

  &--enable-animation{
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}
