@use "../../styles/size.module" as *;

.container {
  position: relative;
  display: grid;
  height: auto;
  max-width: $breakpoint-xl;

  grid-template-columns: repeat(4, 1fr);
  gap: pxRem(20);
  margin-left: pxRem(20);
  margin-right: pxRem(20);

  @include small-tablet {
    grid-template-columns: repeat(4, 1fr);
    gap: pxRem(20);
    margin-left: pxRem(64);
    margin-right: pxRem(64);
  }

  @include large-tablet {
    grid-template-columns: repeat(12, 1fr);
    gap: pxRem(24);
    margin-left: pxRem(64);
    margin-right: pxRem(64);
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
    gap: pxRem(32);
    margin-left: pxRem(80);
    margin-right: pxRem(80);
  }

  @include large-desktop {
    max-width: pxRem(1216);
    grid-template-columns: repeat(12, 1fr);
    gap: pxRem(32);
    margin-left: auto;
    margin-right: auto;
  }
}
